<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBTipo" value="SqlServer"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServer"
			 connectionString="Server = ACER\MSSQLSERVER2; initial catalog= Credito ; trusted_connection=true;"/>
		<add name="Postgres"
			 connectionString="Host=localhost;Database=credito;Username=postgres;Password=76859403;"/>
		<add name="Memoria"
			 connectionString="Credito_DBMemoria"/>
		<add name="MySQL"
			 connectionString="Host=localhost;Database=Credito;Username=Mysql;Password=76859403"/>
	</connectionStrings>
</configuration>