@using Modelo
@model Historial_Cliente
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<div class=" row ">
    <div class=" col-se-10 ">
        <form method="post" asp-action="Delete">
            <div class="form-group">
                <label class="control-label"> Numero Cuota:</label>
                <input class="form-control" asp-for="NumeroCuota" />
            </div>
            <div class="form-group">
                <label class="control-label"> Fecha Pago Real:</label>
                <input class="form-control" asp-for="FechaPagoReal" />
            </div>
            <div class="form-group">
                <label class="control-label"> Fecha Pago Solicitado:</label>
                <input class="form-control" asp-for="FechaPagoSolicitada" />
            </div>
            <div class="form-group">
                <label class="control-label"> Cantidad Pagada:</label>
                <input class="form-control" asp-for="CantidadPagada" />
            </div>
            <div class="form-group">
                <label class="control-label"> Cantidad Solicitada:</label>
                <input class="form-control" asp-for="CantidadSolicitada" />
            </div>
            <div class="form-group">
                <label class="control-label"> Saldo:</label>
                <input class="form-control" asp-for="Saldo" />
            </div>
            <div class="form-group">
                <label class="control-label"> Dias Retrasados:</label>
                <input class="form-control" asp-for="DiasRetrasoCliente" />
            </div>
            <div class="form-group">
                <label class="control-label">Cliente</label>

                <select class="form-control"
                        asp-for="ClienteId"
                        asp-items="@ViewBag.selectListValidaciones">
                    <option value="">***Selecciona un Cliente***</option>
                </select>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Borrar el registro" />
                </div>
            </div>
        </form>
    </div>
</div>